@media only screen and (max-width: 1080px) {

  .mainvideo{
    position:absolute;
    right:20px;
    top:120px;
    height:70%;
    left:20px ;
    display:block;
  }
  .videosuplementari{
    /* width:90%;
    height:140px;
    margin:auto;
    background-color: rgb(224, 224, 224);
    overflow:hidden;
    position:relative;
    top:0px;

    border-radius: 6px;
    overflow: scroll;
    border: 2px solid rgb(255, 255, 255); */
    display:none;
  }
  .radioco-bg {
    display:none;
  }
  .radioco-information {
    display:none;
  }
  .radioplayer {
    background: #070606;
    background-position: center center !important;
    background-repeat: repeat !important;
    background-size: cover !important;
    border-radius: 100px;
    margin-top:50px;
    height: 100px;
    overflow: hidden;
    user-select: none;
    margin:auto;
    border:2px solid rgb(255, 255, 255);
    position:absolute;
    left:20px;
    bottom:20px;
    right:20px;
    width:100px;


  }
  .radioco-playButton-playing:before {
    content: "\f04b";
    font-family: 'FontAwesome', sans-serif;
    font-size: 50px;

    margin-left:20px;
  }
  .radioco-playButton-paused:before {
    content: "\f04c";
    font-family: 'FontAwesome', sans-serif;
    font-size: 50px;
    margin-left:17px;
  }
  .video1, .video3{
    width:50%;
    margin: 20px 0;



    margin-left:25%;
    border-radius:10px;
    border:2px solid rgb(255, 255, 255);

  }
  .changevue{
    border-radius: 6px;
    width:90%;
    height:100px;
    margin:auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(218, 218, 218);
  }
}
@media only screen and (max-width: 708px) {
  .video1, .video3{
    width:90%;
    margin: 20px 0;



    margin-left:5%;
    border-radius:10px;
    border:2px solid rgb(255, 255, 255);

  }
  .changevue{
    border-radius: 6px;
    width:90%;
    height:150px;
    margin:auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(218, 218, 218);
  }
}
@media only screen and (max-width: 578px) {
  .video1, .video3{
    width:90%;
    margin: 20px 0;



    margin-left:5%;
    border-radius:10px;
    border:2px solid rgb(255, 255, 255);

  }
  .changevue{
    border-radius: 6px;
    width:90%;
    height:180px;
    margin:auto;
    border: 2px solid rgb(255, 255, 255);
    background-color: rgb(218, 218, 218);
  }
}
